
td {
    border: 3px solid black;
 
  }
  
  td:hover {
    background: orange;
  }
  

  .xis {
      text-align: center;
      font-size: 85px;
  }
  .bola {
    text-align: center;
    font-size: 85px;
  }
  tr td {
      box-sizing: border-box;
      width: 200px;
      height: 200px;
  }
  

  